<!--hero/search area-->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/ratul-ghosh-NPrWYa69Mz0-unsplash.jpg" class="d-block mx-lg-auto img-fluid" id="spice-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Now we're cooking!</h1>
        <p class="lead">Welcome! Here we will show you some curated recipes that you will love! To get started, log in or sign-up up top! 
        Our goal is to help you find delicious recipes to inspire your inner chef! What are you waiting for? Let's get cookin'! </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        {{!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" id="login">Login</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="signup">Sign-Up!</button> --}}
        </div>
    </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>
<script src="/javascript/login.js"></script>