<div class="container" id="form-pg-text">
  <h1 class="display-5 fw-bold lh-1 mb-3" id="secondary-text">Add a new recipe!</h1>
   <p class="lead">All you need is a link to the website</p>
    <div class="col-6">
      <form class="add-recipe-form justify-content-center">
        <div class="input-group mb-3 ">
          <span class="input-group-text" id="inputGroup-sizing-default">Recipe name:</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="recipe-name" />
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text" id="inputGroup-sizing-default">Website link:</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="url" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Save Recipe</button>
        </div>
      </form>
    </div>
  <div class="col-12">
    <div class="justify-content-center" id="recipe-list">
      <h1 class="display-5 fw-bold lh-1 mb-3" id="secondary-text">Your saved recipes</h1>
      <ol class="recipe-list">
        {{#each recipes as |recipes|}}
        <li>
          {{> recipe-info }}
        </li>
        {{/each}}
      </ol>
  </div>
</div>

<script src="/javascript/add-recipe.js"></script>