<body>
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto justify-content-center">
          <h1 id="secondary-text">Choose your protein:</h1>
          <div class="dropdown justify-content-center">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Please select..
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" id="chicken" href="#">Chicken</a></li>
                <li><a class="dropdown-item" id="beef" href="#">Beef</a></li>
                <li><a class="dropdown-item" id="vegetarian" href="#">Vegetarian</a></li>
              </ul>
            </div>
          </div>
            <div class="container justify-content-center" id="recipe-list">
            <ol class="recipe-list">
            {{#each recipes as |recipes|}}
            <li>
              {{> recipe-info }}
            </li>
            {{/each}}
          </ol>
          </div>
        </div>
      </div>
    </div>
</body>