$font-stack: helvetica;
$loud-text-color: rgb(252, 123, 17);
$text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$secondary-text-color: rgb(233, 154, 64);
$text-padding-top: 50px;



#nav-text {
    color: $loud-text-color;
}

#secondary-text {
    color: $loud-text-color;
    
}

#spice-img {
    box-shadow: $box-shadow;
}

#form-pg-text {
    padding-top: $text-padding-top;
    
}
